@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: #4F46E5;
    --foreground: #FFFFFF;

    --dark: #222220;
    --dark-foreground: #FFFFFF;

    --light: #FFFFFF;
    --light-foreground: #222220;

    --card: #F8FAFC;
    --card-foreground: #222220;
 
    --popover: #FFFFFF;
    --popover-foreground: #222220;
 
    --primary: #4F46E5;
    --primary-foreground: #FFFFFF;
    --primary-hover: #4338CA;
 
    --secondary: #EEF2FF;
    --secondary-foreground: #4F46E5;
    --secondary-hover: #E0E7FF;
 
    --muted: #E2E8F0;
    --muted-foreground: #64748B;
 
    --accent: #EEF2FF;
    --accent-foreground: #222220;
 
    --destructive: #DC2626;
    --destructive-foreground: #FFFFFF;
    --destructive-hover: #B91C1C;

    --border: #E2E8F0;
    --input: #E2E8F0;
    --ring: #C7D2FE;
    --destructive-ring: #FECACA;
 
    --radius: 99999px;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}